{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'semantic/packaged/css/semantic.css' %}"/>
    <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'semantic/packaged/javascript/semantic.js' %}"></script>
    <!-- Start WOWSlider.com HEAD section -->

    <script type="text/javascript" src="{% static 'js/Main_js.js' %}"></script>
    <title>Root Page</title>

</head>

<body id="body">

<div class="ui menu">
    <a class="active item" href="home.html">
        <i class="home icon"></i> خانه
    </a>
    <a class="item" href="page4.html">
        <i class="mail icon"></i> صفحه اضافه کردن محصول
    </a>

    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input id="mysearch" type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
    </div>
</div>

<div id="wrapper">

    <!-- Start WOWSlider.com BODY section id=wowslider-container1 -->

    <!-- End WOWSlider.com BODY section -->

    <div id="mycontent">

        <div id="mymiddle" class="ui horizontal divider">
            محصولات پرطرفدار
        </div>

        <div class="myspan">
            <div class="ui circular rotate reveal image">
                <img class="visible content" src="{% static 'Images/Pics/Artist1.jpg' %}" width="150px" height="150px">
                <img class="hidden content" src="{% static 'Images/Pics/Buy.jpg' %}" width="150px" height="150px">
            </div>

        </div>

        <div class="myspan">
            <div class="ui circular rotate reveal image" data-title="Hello">
                <img class="visible content" src="{% static 'Images/Pics/Atist2.jpg' %}" width="150px" height="150px"
                     data-conte>
                <img class="hidden content" src="{% static 'Images/Pics/Buy.jpg' %}" width="150px" height="150px">
            </div>
        </div>

        <div id="mybottom" class="ui horizontal divider">
            پیشنهادها برای شما
        </div>

        <div class="mysegimg">
            <img class="myimg" src="{% static 'Images/Pics/Penguins.jpg' %}">

        </div>

        <div class="mysegp">
            <h2 class="ui header">First featurette headling. <span class="mycolor">It'll blow your mind.</span></h2>

            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>

    </div>
</div>

<div style="clear: both"></div>

<footer>
    <hr/>
    <span>Created by <a href="/" target="_blank">AV market</a></span>
</footer>

</body>
</html>