{% extends 'base_product.html' %}
{% load staticfiles %}


{% block body_content %}
    <div class="col-lg-8">
        <div class="col-lg">
            <h2 id="nav-tabs">درباره محصول</h2>

            <div class="bs-example">
                <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                    <li class="active"><a href="#specifications" data-toggle="tab">مشخصات کلی</a></li>
                    <li class=""><a href="#descriptions" data-toggle="tab">توضیح محصول</a></li>
                    <li class=""><a href="#pp" data-toggle="tab">نمودار تغییرات قیمت</a></li>

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="specifications">
                        <p>
                            Raw
                        </p>
                    </div>
                    <div class="tab-pane fade" id="descriptions">
                        <p>
                            Food
                        </p>
                    </div>
                    <div class="tab-pane fade" id="pp">
                        <p>
                            kkk
                        </p>
                    </div>
                </div>
            </div>
            <button type="button" data-loading-text="Loading..." class="btn btn-primary">
                Loading state
            </button>
        </div>
    </div>


    <div class="col-lg-4">

        <div id="picture">
            <a href="#myModal" role="button" data-toggle="modal">
                <img id="image" src="{% static 'Images/ebrahim.jpg' %}" class="img-thumbnail" width="auto"
                     height="auto"/></a>
        </div>

        <div style="position: relative" class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
            </div>
            <div class="modal-body">
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the
                    user?</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>










        <div class="row">

            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="" data-src="holder.js/100%x180" alt="image 1">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="" data-src="holder.js/100%x180" alt="image 2">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="" data-src="holder.js/100%x180" alt="image 3">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    <img src="" data-src="holder.js/100%x180" alt="image 4">
                </a>
            </div>
        </div>
    </div>

    <div style="clear: both">
        <div style="margin:2em 0.7em ;border-radius: 1em; border:3px solid #00ACED;"></div>
    </div>

    <div class="container">
        <div class="header item">
            <p>

            <h3>محصولات مرتبط</h3></p>
        </div>
    </div>

    <div class="row text-center">


        <div class="col-lg-2 col-md-6 hero-feature">
            <div class="thumbnail">

                <img src="http://placehold.it/800x500" alt="">

                <div class="caption">
                    <h4>محصول خوب</h4>
                </div>

            </div>
        </div>

        <div class="col-lg-2 col-md-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">

                <div class="caption">
                    <h4>محصول خوب</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">

                <div class="caption">
                    <h4>محصول خوب</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">

                <div class="caption">
                    <h4>محصول خوب</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">

                <div class="caption">
                    <h4>محصول خوب</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">

                <div class="caption">
                    <h4>محصول خوب</h4>
                </div>
            </div>
        </div>


    </div>

    <div style="clear: both">
        <div style="margin:2em 0.7em ;border-radius: 1em; border:3px solid #00ed04;"></div>
    </div>

    <div class="form-group col-lg-12">

        <div class="col-lg-8">
            <label for="commentBox"><h4>
                افزودن نظر
            </h4></label>
            <input class="input-group form-control" style="margin-bottom:2px "
                   placeholder="نام خود را در این قسمت وارد کنید"/>
            <textarea id="commentBox" class="form-control" rows="5"
                      placeholder="نظر خود را در این قسمت وارد کنید..."></textarea>
        </div>
        <div class="col-lg-4">
            <label><h4>
                امتیاز دهید
            </h4></label>


        </div>

    </div>


    <div class="well">

        <div style="margin: 2em">
            <div class="row">
                <div style="border-radius:1em; border: 2px #aaa solid; margin: 3em 0"></div>
            </div>

            <div class="row">

                <div class="col-md-12">

                    <strong>افشین</strong>

                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>

                    <span class="pull-left">10 days ago</span>

                    <br/><br/>

                    <p>
                        بسیار محصول خوبی است.
                    </p>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">

                    <strong>افشین</strong>

                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>

                    <span class="pull-left">10 days ago</span>

                    <br/><br/>

                    <p>
                        بسیار محصول خوبی است.
                    </p>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">

                    <strong>افشین</strong>

                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>

                    <span class="pull-left">10 days ago</span>

                    <br/><br/>

                    <p>
                        بسیار محصول خوبی است.
                    </p>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">

                    <strong>افشین</strong>

                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>

                    <span class="pull-left">10 days ago</span>

                    <br/><br/>

                    <p>
                        بسیار محصول خوبی است.
                    </p>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">

                    <strong>افشین</strong>

                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>

                    <span class="pull-left">10 days ago</span>

                    <br/><br/>

                    <p>
                        بسیار محصول خوبی است.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
