{% extends 'base_product.html' %}

{% block body_content %}

    <div class="container">

        <div class="">

            <div class="col-md-3">

                <form class="well navbar-form navbar-right" role="search">
                    <button type="submit" class="btn btn-default">g</button>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="جست و جو ...">
                    </div>
                </form>

                <p class="lead text-center"><strong>لیست محصولات</strong></p>

                <div style="margin-top: -1em" class="list-group">

                    <a style="border-radius: 0" href="#film-menu" class="btn btn-default btn-lg btn-block"
                       data-toggle="collapse">فیلم</a>

                    <div style="margin-bottom: 0px" id="film-menu" class="collapse">
                        <a href="#" class="list-group-item">عشقی</a>
                        <a href="#" class="list-group-item">اکشن</a>
                        <a href="#" class="list-group-item">کمدی</a>
                    </div>

                    <a style="border-radius: 0" href="#song-menu" class="btn btn-default btn-lg btn-block"
                       data-toggle="collapse">آهنگ</a>

                    <div id="song-menu" class="list-group collapse">
                        <a href="#" class=" list-group-item">رپ</a>
                        <a href="#" class="list-group-item">راک</a>
                        <a href="#" class="list-group-item">جاز</a>
                    </div>
                    <a style="border-radius: 0" href="#game-menu" class="btn btn-default btn-lg btn-block"
                       data-toggle="collapse">بازی</a>

                    <div style="margin-bottom: 0px" id="game-menu" class="collapse">
                        <a href="#" class="list-group-item">عشقی</a>
                        <a href="#" class="list-group-item">اکشن</a>
                        <a href="#" class="list-group-item">کمدی</a>
                    </div>

                    <a style="border-radius: 0" href="#app-menu" class="btn btn-default btn-lg btn-block"
                       data-toggle="collapse">برنامه</a>

                    <div id="app-menu" class="list-group collapse">
                        <a href="#" class=" list-group-item">رپ</a>
                        <a href="#" class="list-group-item">راک</a>
                        <a href="#" class="list-group-item">جاز</a>
                    </div>

                </div>


            </div>

            <div class="col-md-9">
                <div class="text-center well navbar-form col-lg">
                    {% block title_products %}
                    {% endblock %}
                </div>

                <div class="">

                    {% block product_items %}

                    {% endblock %}

                    <ul class="pagination">
                        <li style="float: left" class="disabled"><a href="#">اولین</a></li>
                        <li style="float: left" class="disabled"><a href="#">»</a></li>
                        <li style="float: left" class="active"><a href="#">1 <span class="sr-only"></span></a></li>
                        <li style="float: left" class=""><a href="#">2</a></li>
                        <li style="float: left" class=""><a href="#">3</a></li>
                        <li style="float: left" class=""><a href="#">4</a></li>
                        <li style="float: left" class=""><a href="#">«</a></li>
                        <li style="float: left" class="next"><a href="#">آخرین</a></li>
                    </ul>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
